<h3>Your Profile!</h3>
  <ul>
    <li><%= image_tag "#{@profile.avatar_url.thumb.url}" %></li>
    <li><%= @profile.username %></li>
    <li><%= @user.email %></li>
    <li><%= @profile.pun %></li>
    <li><%= @profile.location %></li>
  </ul>

  <%= link_to "Edit Profile", edit_profile_path %>
