<h1>Search</h1>
<%= form_tag landmarks_path, method: "get" do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Landmarks" %>
  <%= submit_tag "Search", name: nil %>
<% end %>

<%= link_to('New Landmark', new_landmark_path)  %>

<% if @landmarks.present? %>
  <table>
    <thead>
      <tr>
        <th>Thumbnail</th>
        <th>Landmark</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @landmarks.each do |landmark| %>
      <tr>
        <td>
          <%= image_tag("#{landmark.image}", height: '50', width: '50') %>
        </td>
        <td>
          <%= link_to landmark.name, landmark_path(landmark) %>
        </td>
        <td>
          <%= button_to "Edit", edit_landmark_path(landmark), class:"button", method:"get" %>
        </td>
        <td>
          <%= button_to "Delete", landmark_path(landmark), class:"button", method:"delete" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>There are no landmarks containing the term(s) <%= params[:search] %>.</p>
<% end %>

<%= paginate @landmarks %>
