<h3><%= @landmark.name %></h3>
Creator: <%= @landmark.user.email %>
<%= image_tag("#{@landmark.image}", height: '250', width: '250') %>
Location: <%= @landmark.location %>
Description: <%= @landmark.description %>
Average Review: <%= @landmark.average_review %>

<%= render '/reviews/form' %>

<h2>Reviews:</h2>
    <% if !@reviews.empty? %>
      <% @reviews.each do |review| %>
      <li>
        <div class=review>
        Votes: <%= review.votes %>
        Comment: <%= review.body %>
        User: <%= review.user.email %>
        Landmark Rating: <%= review.landmark_review %>
        <%= button_to "Delete Review", landmark_review_path(review.landmark.id, review.id), class:"button", method:"delete" %>
        <%= link_to "Edit Review", edit_landmark_review_path(review.landmark.id, review.id) %>
        </div>
      </li>
      <% end %>
    <% else %>
      No reviews! Want to leave one?
    <% end %>
