<h3><%= @landmark.name %></h3>
Creator:
<% if @landmark.user.nil? %>
[DELETED]
<% else %>
<%= @landmark.user.email %>
<% end %>
<%= image_tag("#{@landmark.image}", height: '250', width: '250') %>
Location: <%= @landmark.location %>
Description: <%= @landmark.description %>
Average Rating:
<% if @average_rating.nil? %>
0
<% else %>
<%= @average_rating.floor %>
<% end %>
<%= image_tag("#{@landmark.image}", height: '250', width: '250') %>
<%= @landmark.location %>
<%= @landmark.description %>

<%= render '/reviews/form' %>

<h2>Reviews:</h2>
    <% if !@reviews.empty? %>
      <% @reviews.each do |review| %>
      <li>
        <div class=review>
        Votes: <%= review.votes %>
        Comment: <%= review.body %>
        <% if review.user.nil? %>
            [DELETED]
        <% else %>
          User: <%= review.user.email %>
        <% end %>
        <% if current_user == review.user || current_user.admin? %>
        <%= button_to "Delete Review", landmark_review_path(review.landmark.id, review.id), class:"button", method:"delete" %>
        <%= link_to "Edit Review", edit_landmark_review_path(review.landmark.id, review.id) %>
        <% end %>
        </div>
      </li>
    <% end %>
  <% else %>
    No reviews! Want to leave one?
  <% end %>
